# Weights & Biases logger configuration

{% if use_lightning and use_hydra -%}
wandb:
  _target_: pytorch_lightning.loggers.WandbLogger
  project: {{ project_name }}
  name: ${name}
  save_dir: ${paths.log_dir}
  offline: false
  log_model: false
  {% if wandb_entity -%}
  entity: {{ wandb_entity }}
  {% endif -%}
  tags: ${tags}
{% else -%}
# W&B configuration
project: {{ project_name }}
{% endif -%}
